*{
    margin: 0;
    padding: 0;
    }
    
    .container {
        background-image: url("https://www.thoughtco.com/thmb/_OZMQ8_zzwmJFWMtGHhPXcFDiFw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-165792182-56ea29463df78cb4b97bac42.jpg");
    height: 100vh;
    background-size: cover;
    }
    
    .container>.navbar {
        width: 100%;
        height: 80px;
        background-color: rgb(168, 110, 53);
    }
    
    .navbar ul{
        float: right;
        margin-right: 40px;
    }
    
    .navbar>.logo {
        display: inline-block;
        margin-left: 80px;
        margin-top: 20px;
    }
    .navbar>.logo a {
        text-decoration: none;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(178, 224, 129);
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0px 8px;
        line-height: 80px;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: darkkhaki;
        font-size: 25px;
        padding: 5px 15px;
        font-family: sans-serif;
    }
    
    
    .navbar ul li a.active,.navbar ul li a:hover {
        background-color: brown;
        border-radius: 10px;
    }
    
    .container>.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: sans-serif;
        user-select: none;
    }
    
    .center h1 {
        color: rgb(147, 176, 101);
        font-size: 60px;
        font-weight: bold;
        margin-left: 125px;
        width: 700px;
        text-align: center;
        font-family:sans-serif;
        border: solid 0px;
        border-radius: 15px;
        background-color: rgb(128, 58, 33);
    }
    
    .center h2 {
        color: rgb(147, 176, 101);
        font-size: 35px;
        width: 900px;
        margin: 30px 30px;
        font-family:sans-serif;
        border: solid 0px;
        background-color: rgb(128, 58, 33);
        border-radius: 15px;
    
    }
    
    .center .buttons {
        margin: 50px 280px;
        float: left;
    }
    
    .buttons button  {
        height: 40px;
        width: 120px;
        font-size: 10px;
        color: rgb(128, 58, 33);
        background-color:rgb(147, 176, 101);
        border: solid 4px rgb(175, 161, 102);
        cursor: pointer;
        border-radius: 30px;
        margin: 10px 10px;
    }

    .paragraphs {
        color: rgb(95, 147, 39);
        font-size: 17,5px;
        padding: 20px;
        border: solid 0px;
        background-color: rgb(97, 60, 34);
        border-radius: 20px;

    }

    .videos {
        padding-left: 50px;
        padding-top: 10px;
    }

    .topic {
        color: rgb(111, 77, 53);
        text-decoration: none;
        border: solid 0px;
        background-color: rgb(118, 155, 53);
        border-radius: 5px;
    }

    